__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
ENV/
env/


.idea/
.vscode/

pip-log.txt
pip-delete-this-directory.txt

build/
dist/
*.egg-info/
*.egg
*.manifest
*.spec

htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/

.ipynb_checkpoints/

# System
.DS_Store
Thumbs.db

*.log
*.tmp
*.bak
*.swp
*.swo
*.orig
*.rej

*.sqlite3
*.db
*.npy
*.npz
*.h5